
.aboutContainer{
    padding-left: 5rem;
    padding-right: 5rem;
    margin-bottom: 5rem;
}
.titleAbout{
    height: 9rem;
    width: 100%;
    color: #DBFF00;
    font-size: 115px;
    font-family: 'ModernAntiqua';
    text-align: start;
    margin-bottom: 2.5rem;
}

.logoText{
    height: 25rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
   
}

.logo{
    height: 100%;
    width: 30%;
    background-color: darkgreen;
    border-radius: 70px;
    background-image: url(/assets/eman-souley.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
    /* background-size: 100% auto; */
}

.text{
    height: 85%;
    width: 65%;
    background-color:#1D1D1D;
    border-radius: 20px;
    padding: 2rem;
    text-align: start;
}

.title{
    height: 97px;
    width: 100%;
    border-bottom: 1.5px solid #A6A6A6;
}

.title>p{
    color: #DBFF00;
    font-size: 35px;
    font-family: 'ModernAntiqua';
    text-align: start;
}