
body{
    background-color: #070707;
    width: 100%;
    height: 100%;
  
}

.nav{
    display: flex;
    font-family: 'Poppins', sans-serif;
    height: 5rem;
    width: auto;
    color: #DBFF00;
    list-style: none;
    text-decoration: none;
    /* background-color: blue; */
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    /* background-color: cadetblue; */
    width: 80%;
}

li{
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #DBFF00;
  }